@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h1 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #E3E3E3;
}

body {
  background-color: #F0F0F0;
}
